
#c434 .contentbox > header{
    display: none;
}

.news {
    padding: 5px;
    margin: 5px;
    border: 1px;
}

.questions {
    padding: 5px;
    margin: 5px;
    border: 1px;
}

.files {
    padding: 5px;
    margin: 5px;
    border: 1px;
}