
.intranet_news .contentbox > header{
    display: none;
}

section.course > a {
    color: #062c5b;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 12px;
    padding: 4px;
    //border: solid 1px;
}


.news {
    padding: 5px;
    margin: 5px;
    border: 1px;
}

.questions {
    padding: 5px;
    margin: 5px;
    border: 1px;
}

.files {
    padding: 5px;
    margin: 5px;
    border: 1px;
}