/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.11.2017, 09:38:56
    Author     : anne
*/

.studip-widget .header-options {
    display: none;
}

#layout-sidebar {
    display: none;
}